@font-face {
    font-family: 'Bosch';
    src: url('../src/fonts/Bosch.otf') format('otf'),
        /* Super Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf'),
        /* Pretty Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf');
    /* Safari, Android, iOS */
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.h1 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    height: 30px;
    margin-left: 10px

}

nav {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    justify-content: space-between;
    width: 350px;
    margin-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}


/* @font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot');  IE9 Compat Modes
  src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8
  url('webfont.woff2') format('woff2'), Super Modern Browsers
  url('webfont.woff') format('woff'), Pretty Modern Browsers 
  url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS 
  url('webfont.svg#svgFontName') format('svg');  Legacy iOS 
}

body {
font-family: 'MyWebFont', Fallback, sans-serif;
} */