body {
    color: #000;
}

/* ------------- Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.h1 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    height: 30px;
    margin-left: 10px
}


nav {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    justify-content: space-between;
    width: 350px;
    margin-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

/* ------------- HomePage */

main {
    position: relative;
    min-height: 100vh;
    /* border: red 3px solid; */
    max-height: 500vh;

}

@media screen and (max-width: 768px) {
    *, main {
        max-width: initial;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 0 50px 0 50px;
    /* border: 3px red solid; */
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        /* align-items: center; */
        max-width: initial;
        padding: 0 0 0 0;
    }
}

.hero {
    display: flex;
    justify-content: center;
    /* border: 3px red solid; */
}

@media screen and (max-width: 768px) {
    img {
        /* flex: 1 0 auto; */
            max-width: 75% !important;
        }
}

.hero-head {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 150px !important;
    /* color: #f7fafc; */
    position: absolute;
    z-index: 1;
    top: 115px;
    padding-left: 15px;

    /* border: 3px red solid; */
}

.welcome {
    padding-left: 10px;
    /* outline: 3px solid red; */
}

.h2,
.welcome {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.enter {
    margin-top: 10px;
}

.recent{
    margin-left: 1rem;
}

/* ------------- Parallax-Scroll */

.feature-scroller {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* border: 3px red solid; */
    height: 315vh;
}

article {
    display: flex;
    flex-direction: column;
    height: 775px;
}

.par-box {
    height: 1990px
}

.pink {
    width: 800px;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
    position: relative;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .pink {
        max-width: 75% !important;
    }
}

.text-1 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 100px !important;
    position: relative;
    top: 0;
    left: 150px;
}

.text-2 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 100px !important;
    position: absolute;
    z-index: 2;
    color: white;
    top: 125px;
    left: 100px;
}
.text-3 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 100px !important;
    position: absolute;
    z-index: 2;
    color: white;
    left: 100px;
    bottom: 200px;
}

@media screen and (max-width: 768px) {
    .text-1,
    .text-2,
    .text-3 {
        font-size: 50px !important;
    }
}

.berry {
    width: 485px;
    position: relative;
    top: -375px;
    right: -480px;
    z-index: -2;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
}

@media screen and (max-width: 768px) {
    .berry {
        max-width: 75% !important;
        max-width: 50% !important;
    right: -344px;
        /* right: -400px; */
    }
}

.mountain {
    width: 750px;
    position: relative;
    bottom: 800px;
    left: -100px;
    z-index: -1;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
}

@media screen and (max-width: 768px) {
    .mountain {
        max-width: 75% !important;
        right: -400px;
    }
}

.abstract {
    width: 1009px;
    position: relative;
    bottom: 775px;
    z-index: -1;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
}

@media screen and (max-width: 768px) {
    .abstract {
        max-width: 600px;
    }
}


.caboose {
    height: 0;
}

/* ------------- SHOP */

.shop-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shop-section {
    display: flex !important;
    flex-direction: row;
    /* border: red 3px solid; */
}

/* .shop-container {
    border: red 3px solid;
} */

.shop-description {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    /* border: red 3px solid; */
}

.timer {
    display: flex;
    align-items: center;
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 25px;
    padding: 10px;
}

.feature-img {
    width: 600px;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
    /* border: red 3px solid; */
}

.feature-header {
    /* border: red 3px solid; */
    padding-left: 10px;
    line-height: 40px;
}

.feature-artist {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 40px;
}

.feature-name {
    display: flex !important;
    /* border: red 3px solid; */
    flex-wrap: nowrap;
}

.feature-title {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 50px;
}

.feature-year {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.feature-medium {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

.feature-about {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    padding-left: 10px;
    /* border: red 3px solid; */
}

.para {
    margin-top: 10px;
    margin-bottom: -25px;
}

.para2 {
    margin-bottom: 15px;
}

.bid-info {
    padding-left: 10px;
    /* border: red 3px solid; */
}

.bid-start {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.bid-current {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 20px;
}

.bid-form {
    padding-left: 10px;
    /* border: red 3px solid; */
}

.btn-box {
    /* border: red 3px solid; */
    margin-top: 15px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------- Slider */

.nextSection{
    display: flex !important;
    justify-content: center;
    /* align-items: center; */
    /* border: red 3px solid; */
    margin: 50px 0 50px 0px;
}

.nextPic {
    max-width: 240px;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
    /* border: red 3px solid; */
}

.next-box {
    /* border: red 3px solid; */
    display: flex !important;
    align-items: center;
    padding-left: 10px;

}

.next-stuff {
    /* border: red 3px solid; */
    line-height: 40px;
}

.next-artist {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 40px;
}

.next-name {
    display: flex !important;
    /* border: red 3px solid; */
    flex-wrap: nowrap;
}

.next-title {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 50px;
}

.next-year {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.next-medium {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

/* ----------- Main Footer ------------*/

.appFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    left: 0;
    right: 0;
    width: 100%;
    height: 7.5rem;
    background-color: black;
    color: white;
}

.h5 {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    height: 18px;
}

span {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.artistLink {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-size: larger;
    font-style: normal !important;
}

.lineOne {
    margin-bottom: .7rem;
}

.lineTwo {
    margin-top: .7rem;
}


/* ------------- Artist SignUp ------------ */

.artistContainer {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    margin-top: 30px;
    /* outline: 3px solid red; */
}

.welcomeArtist {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 60px !important;
    padding-left: 145px;
    padding-top: 50px;
}

.gridParent {
    display: block;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.gridTitle {
    font-family: roc-grotesk-wide, sans-serif !important;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 25px;
}

.gridContent {
    font-family: roc-grotesk-wide, sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnDiv {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

/* --------Artist Profile------------ */

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.pfp{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    border-radius: 0px;
}

.pfpDiv{
    width: 30em;
    height:30em;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
}

.text-container{
    width: 80%;
    text-align: center;
    padding: 1em;
    padding-bottom: 0;
    /* outline: 2px solid; */
}


.artistName{
    /* font-family: 'Bosch', sans-serif !important; */
    font-family: roc-grotesk-wide, sans-serif !important;
    font-size: 40px;
}

.artistLocation{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-size: 30px;
}

.artistBio{
    /* font-family: roc-grotesk-wide, sans-serif !important; */
    font-size: 20px;
    margin-top: 1em;
    text-align: left;
}


.feature-text{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-size: 40px;
    margin-top: 5rem;
    outline: 3px solid;
}

.feature-text h1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.mando{
    margin-top: 3rem;
    box-shadow: 1px 25px 50px rgb(51, 51, 51);
}

.feature-description{
    width: 80%;
}

.feature-description h4{
    margin-top: 1rem;
    font-size: 25px;
    font-family: aktiv-grotesk, sans-serif;
    font-style: italic;
    text-align: center;
}

.feature-description p{
    font-size: 20px;
    margin-top: 1em;
}

/* ------------- PUSH footer to the bottom of page */

/* #root {
    display: flex;
    flex-direction: column;
}

html,
body,
#root {
    height: 100%;
} */

.vh{
    min-height: calc(100vh - 120px);
}


/* ---------------Login Modal Link */

.loginLink{
    list-style-type: none;
    font-family: aktiv-grotesk, sans-serif !important;
    text-decoration: none !important;
    font-weight: 300 !important;
    font-style: normal;
}

.modalTitle{
    font-family: roc-grotesk-wide, sans-serif !important;
}


/*  */

.hiddenAuctionButton {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 5%;
    right: 5%;
    color: rgba(255, 255, 255, 0.0);
}

.hiddenAuctionButton:hover {
    color: rgba(0, 0, 0, 1)
}


/* -------------Artist Gallery */

.fullGallery{
    display: flex;
    flex-direction: column;
}

.singleArtistContainer{
    display: flex;
    /* background-color: lightgray; */
    /* margin-top: 3rem; */
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    border-bottom: 1px solid;
}

.artistInfo{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    /* max-height: 50%; */
    min-width: 50%;
}

.artistInfo h1{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 40px;
    padding-left: 2rem;
}

.artistInfo h2{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 40px;
    padding-left: 2rem;
}

.artistInfo h2 span{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.artistAboutUnderline{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    padding-left: 2rem;
    text-decoration: underline;
}

.artistAboutInfo{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.artistGalleryPrice{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 20px;
    padding-left: 2rem;
    padding-top: 1rem;
    
}

.socials{
    padding-left: 2rem;
    padding-top: 3rem;
    font-size: 40px;
}

.spaceIcon{
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 960px){
    .singleArtistContainer{
        flex-direction: column;
    }
}

