@font-face {
    font-family: 'Bosch';
    src: url('../src/fonts/Bosch.otf') format('otf'),
        /* Super Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf'),
        /* Pretty Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf');
    /* Safari, Android, iOS */
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.h1 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    height: 30px;
    margin-left: 10px

}

nav {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    justify-content: space-between;
    width: 350px;
    margin-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

/* HomePage */

main {
    position: relative;
    min-height: 100vh;
}


/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

.h5 {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    height: 18px;
}

span {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}