@font-face {
    font-family: 'Bosch';
    src: url('../src/fonts/Bosch.otf') format('otf'),
        /* Super Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf'),
        /* Pretty Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf');
    /* Safari, Android, iOS */
}

body {
    color: #000;
}

/* ------------- Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.h1 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    height: 30px;
    margin-left: 10px
}


nav {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    justify-content: space-between;
    width: 350px;
    margin-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

/* ------------- HomePage */

main {
    position: relative;
    min-height: 100vh;
    border: red 3px solid;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 0 50px 0 50px;
    /* border: 3px red solid; */
}

.hero {
    display: flex;
    justify-content: center;
    /* border: 3px red solid; */
}

.hero-head {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 150px !important;
    
    position: absolute;
    z-index: 1;
    top: 115px;
    padding-left: 15px;

    /* border: 3px red solid; */
}

.welcome {
    padding-left: 10px;
    /* outline: 3px solid red; */
}

.h2,
.welcome {
    font-family: 'Bosch', sans-serif !important;
}

.enter {
    margin-top: 10px;
}

/* ------------- Parallax-Scroll */

.feature-scroller {
    position: relative;

    /* border: 3px red solid; */
    height: 475vh;
}

.pink {
    width: 700px;
    
    position: relative;
    left: -210px;
}

.berry {
    width: 400px;

    position: relative;
    top: 120px;
    right: -380px;
}

.mountain {
    width: 600px;

    position: relative;
    top: 200px;
}

.abstract {
    width: 600px;

    position: relative;
    top: 250px;
    left: -210px;
}

/* ------------- SHOP */

.shop-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shop-section {
    display: flex !important;
    flex-direction: row;
    border: red 3px solid;
}
.shop-container {
    border: red 3px solid;
}

.timer {
    display: flex;
    align-items: center;
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 25px;
    padding: 10px;
}

.feature-img {
    width: 600px;
    border: red 3px solid;
}

.feature-header {
    border: red 3px solid;
}

.feature-name {
    display: flex !important; 
    border: red 3px solid;
}

.feature-about {
    border: red 3px solid;
}

.bid-info {
    border: red 3px solid;
}

.bid-btn {
    border: red 3px solid;
}

section {
    border: red 3px solid;
}

/* Main Footer */

.appFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    bottom: -40px;
    width: 100%;
    height: 7.5rem;
    background-color: black;
    color: white;
}

.h5 {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    height: 18px;
}

span {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.artistLink{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-size: larger;
    font-style: normal !important;
}

.lineOne{
    margin-bottom: .7rem;
}

.lineTwo{
    margin-top: .7rem;
}


/* ------------- Artist SignUp */

.artistContainer{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    margin-top: 30px;
    /* outline: 3px solid red; */
}

.welcomeArtist{
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 60px !important;
    padding-left: 145px;
    padding-top: 50px;
}

.gridParent{
    display: block;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.gridTitle{
    font-family: roc-grotesk-wide, sans-serif !important;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 25px;
}

.gridContent{
    font-family: roc-grotesk-wide, sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnDiv{
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

/* ------------- PUSH footer to the bottom of page */

#root {
    display: flex;
    flex-direction: column;
   }

html, body, #root {
    height: 100%;
  }