@font-face {
    font-family: 'Bosch';
    src: url('../src/fonts/Bosch.otf') format('otf'),
        /* Super Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf'),
        /* Pretty Modern Browsers */
        url('../src/fonts/Bosch.otf') format('otf');
    /* Safari, Android, iOS */
}

body {
    color: #000;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.h1 {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    height: 30px;
    margin-left: 10px
}


nav {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    justify-content: space-between;
    width: 350px;
    margin-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

/* HomePage */

main {
    position: relative;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 0 50px 0 50px;
    /* border: 3px red solid; */
}

.hero {
    display: flex;
    justify-content: center;
    /* border: 3px red solid; */
}

.hero-head {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 150px !important;
    
    position: absolute;
    z-index: 1;
    top: 115px;
    padding-left: 15px;

    /* border: 3px red solid; */
}

.welcome {
    padding-left: 10px;
}

.h2,
.welcome {
    font-family: 'Bosch', sans-serif !important;
}

.enter {
    margin-top: 10px;
}

/* Parallax-Scroll */

.pink {}

.berry {}

.mountain {}

.abstract {}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 2.5rem; 
}

.h5 {
    font-family: aktiv-grotesk, sans-serif !important;
    font-weight: 300;
    font-style: normal;
    height: 18px;
}

span {
    font-family: roc-grotesk-wide, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}