.landing{
    display: block;
    text-align: center;
    justify-content: center;
    /* position: relative; */
}

.landing--banner{
    width: 100%;
    align-items: center;
}

/* .landing--actions{
} */

.landing--action-button{
    margin: 1rem;
}