<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="#main.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <!-- Existing Header -->
    </header>
    <!-- flex, justify: center, align: center -->
    <main>
        <!-- flex, row, col-12 -->
        <section>
            <!-- image / timer, col-5 -->
            <div class="shop-container">
                <!-- col-5 -->
                <img src="" alt="" />
                <h3>Time Left: </h3>
            </div>
        </section>
        <section>
            <!-- col-5, align: center -->
            <div class="feature-header">
                <h2>artist name</h2>
                <div class="feature-name">
                    <!-- flex, row, align: baseline -->
                    <h3 class="feature-title">title</h3>
                    <p class="feature-year">year</p>
                </div>
                <h4 class="feature-medium">medium</h4>
            </div>
            <div class="feature-about">
                <p class="para"></p>
            </div>
            <div class="bid-info">
                <h4>The starting bid is:</h4>
                <h3>The curent bid is:</h3>
            </div>
            <div>
                <!-- add margin to match section height -->
                <button>Place Bid</button>
            </div>
        </section>
    </main>
    <!-- slider / sans-footer -->
    <Footer class="slider">
        <article>
            <div>
                <img src="" alt="" />
                <div class="next-feature">
                    <!-- flex, justify: center, align: center -->
                    <h1 class="upNext">UP NEXT</h1>
                    <h2 class="feature-artist">Artist Name</h2>
                    <div class="feature-name">
                        <!-- flex, row, align: baseline -->
                        <h3 class="feature-title">title</h3>
                        <p class="feature-year">year</p>
                    </div>
                    <h4 class="feature-medium">Medium</h4>
                </div>
            </div>
        </article>
    </Footer>
</body>
<!-- Self-Coded -->
<script type="text/javascript" src="#"></script>

</html>